In [2]:
import pandas as pd
import numpy as np

import yfinance as yf

import cufflinks as cf
cf.set_config_file(offline=True)

import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.__version__, np.__version__, yf.__version__, cf.__version__

('2.3.1', '2.0.2', '0.2.65', '0.17.3')

In [4]:
df1 = yf.download('SPY', period='5d', progress=False)
df1.head()

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2025-07-28  636.940002  638.039978  635.539978  637.479980   54917100
2025-07-29  635.260010  638.669983  634.340027  638.349976   60556300
2025-07-30  634.460022  637.679993  631.539978  635.919983   80418900
2025-07-31  632.080017  639.849976  630.770020  639.460022  103385200
2025-08-01  621.719971  626.340027  619.289978  626.299988  139951500

In [5]:
df2 = yf.download('SPY', start='2020-12-24', end='2020-12-31', progress=False)
df2.head()

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2020-12-24  346.428375  346.456539  344.973200  345.564639  26457900
2020-12-28  349.404510  349.798803  348.371791  349.000792  39000400
2020-12-29  348.737854  351.122491  348.146386  350.944111  53680500
2020-12-30  349.235474  350.277590  348.841181  349.564070  49455300

In [6]:
df3 = yf.download('SPY', period='ytd', progress=False)
df3.tail()

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2025-07-28  636.940002  638.039978  635.539978  637.479980   54917100
2025-07-29  635.260010  638.669983  634.340027  638.349976   60556300
2025-07-30  634.460022  637.679993  631.539978  635.919983   80418900
2025-07-31  632.080017  639.849976  630.770020  639.460022  103385200
2025-08-01  621.719971  626.340027  619.289978  626.299988  139951500

In [7]:
faang_stocks = ['AAPL', 'AMZN', 'FB', 'GOOGL', 'NFLX']
faang_stocks

['AAPL', 'AMZN', 'FB', 'GOOGL', 'NFLX']

In [12]:
df4 = yf.download(faang_stocks, period = 'ytd', progress=False)['Close']
df4.tail()

Ticker            AAPL        AMZN         FB       GOOGL         NFLX
Date
2025-07-28  214.050003  232.789993  40.560001  192.580002  1174.599976
2025-07-29  211.270004  231.009995  40.529999  195.750000  1168.739990
2025-07-30  209.050003  230.190002  40.500000  196.529999  1184.199951
2025-07-31  207.570007  234.110001  40.567001  191.899994  1159.400024
2025-08-01  202.380005  214.750000  40.264000  189.130005  1158.599976