In [2]:
import pandas as pd
import numpy as np

import yfinance as yf

import cufflinks as cf
cf.set_config_file(offline=True)

import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.__version__, np.__version__, yf.__version__, cf.__version__

('2.3.1', '2.0.2', '0.2.65', '0.17.3')

In [4]:
df1 = yf.download('SPY', period='5d', progress=False)
df1.head()

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2025-07-28  636.940002  638.039978  635.539978  637.479980   54917100
2025-07-29  635.260010  638.669983  634.340027  638.349976   60556300
2025-07-30  634.460022  637.679993  631.539978  635.919983   80418900
2025-07-31  632.080017  639.849976  630.770020  639.460022  103385200
2025-08-01  621.719971  626.340027  619.289978  626.299988  139951500

In [5]:
df2 = yf.download('SPY', start='2020-12-24', end='2020-12-31', progress=False)
df2.head()

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2020-12-24  346.428375  346.456539  344.973200  345.564639  26457900
2020-12-28  349.404510  349.798803  348.371791  349.000792  39000400
2020-12-29  348.737854  351.122491  348.146386  350.944111  53680500
2020-12-30  349.235474  350.277590  348.841181  349.564070  49455300

In [6]:
df3 = yf.download('SPY', period='ytd', progress=False)
df3.tail()

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2025-07-28  636.940002  638.039978  635.539978  637.479980   54917100
2025-07-29  635.260010  638.669983  634.340027  638.349976   60556300
2025-07-30  634.460022  637.679993  631.539978  635.919983   80418900
2025-07-31  632.080017  639.849976  630.770020  639.460022  103385200
2025-08-01  621.719971  626.340027  619.289978  626.299988  139951500

In [7]:
faang_stocks = ['AAPL', 'AMZN', 'FB', 'GOOGL', 'NFLX']
faang_stocks

['AAPL', 'AMZN', 'FB', 'GOOGL', 'NFLX']

In [12]:
df4 = yf.download(faang_stocks, period = 'ytd', progress=False)['Close']
df4.tail()

Ticker            AAPL        AMZN         FB       GOOGL         NFLX
Date
2025-07-28  214.050003  232.789993  40.560001  192.580002  1174.599976
2025-07-29  211.270004  231.009995  40.529999  195.750000  1168.739990
2025-07-30  209.050003  230.190002  40.500000  196.529999  1184.199951
2025-07-31  207.570007  234.110001  40.567001  191.899994  1159.400024
2025-08-01  202.380005  214.750000  40.264000  189.130005  1158.599976

In [13]:
ohlcv = {symbol: yf.download(symbol, period='250d', progress=False) for symbol in faang_stocks}
ohlcv

{'AAPL': Price            Close        High         Low        Open     Volume
 Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
 Date
 2024-08-02  218.836578  224.549865  216.696592  218.129877  105568600
 2024-08-05  208.295868  212.506173  195.087635  198.163247  119548600
 2024-08-06  206.265350  209.012512  200.134036  204.344342   69660500
 2024-08-07  208.843323  212.645533  205.429281  205.936902   63516400
 2024-08-08  212.317062  213.202919  207.857921  212.117996   47161100
 ...                ...         ...         ...         ...        ...
 2025-07-28  214.050003  214.850006  213.059998  214.029999   37858000
 2025-07-29  211.270004  214.809998  210.820007  214.179993   51411700
 2025-07-30  209.050003  212.389999  207.720001  211.899994   45512500
 2025-07-31  207.570007  209.839996  207.160004  208.490005   80698400
 2025-08-01  202.380005  213.580002  201.500000  210.869995  104301700

 [250 rows x 5 columns],
 'AMZN': Price            Close        High         Low        Open     Volume
 Ticker            AMZN        AMZN        AMZN        AMZN       AMZN
 Date
 2024-08-02  167.899994  168.770004  160.550003  166.750000  141448400
 2024-08-05  161.020004  162.960007  151.610001  154.210007   83149400
 2024-08-06  161.929993  165.080002  158.539993  161.710007   59950800
 2024-08-07  162.770004  167.580002  161.429993  166.550003   48408200
 2024-08-08  165.800003  166.690002  162.550003  165.169998   44616200
 ...                ...         ...         ...         ...        ...
 2025-07-28  232.789993  234.289993  232.250000  233.350006   26300100
 2025-07-29  231.009995  234.720001  230.309998  234.149994   33716200
 2025-07-30  230.190002  231.800003  229.289993  231.639999   32993300
 2025-07-31  234.110001  236.529999  231.399994  235.770004  104357300
 2025-08-01  214.750000  220.440002  212.800003  217.210007  122060100

 [250 rows x 5 columns],
 'FB': Price           Close       High        Low       Open Volume
 Ticker             FB         FB         FB         FB     FB
 Date
 2025-06-26  39.910000  40.189999  39.910000  40.139999  36700
 2025-06-27  40.249001  40.369999  40.150002  40.150002  11300
 2025-06-30  40.473999  40.570000  40.299999  40.450001  28700
 2025-07-01  40.394001  41.404999  40.320000  40.362000  11300
 2025-07-02  40.250000  40.360001  40.240002  40.311001  50300
 2025-07-03  40.514000  40.570000  40.439999  40.480000   4400
 2025-07-07  40.549999  40.570000  40.459999  40.570000  93100
 2025-07-08  40.410000  40.509998  40.410000  40.480000   3200
 2025-07-09  40.445000  40.599998  40.380001  40.500000  11500
 2025-07-10  40.476002  40.490002  40.476002  40.490002    200
 2025-07-11  40.455002  40.509998  40.432999  40.470001   3700
 2025-07-14  40.442001  40.490002  40.439999  40.490002   2200
 2025-07-15  40.360001  40.490002  40.360001  40.490002   2500
 2025-07-16  40.458000  40.500000  40.389999  40.480000  97600
 2025-07-17  40.513000  40.528999  40.444000  40.444000   2000
 2025-07-18  40.472000  40.529999  40.472000  40.520000  14900
 2025-07-21  40.410000  40.919998  40.410000  40.630001   2200
 2025-07-22  40.500000  40.750000  40.410000  40.750000   3200
 2025-07-23  40.575001  40.939999  40.549999  40.619999   1100
 2025-07-24  40.589001  40.623001  40.589001  40.623001    600
 2025-07-25  40.560001  40.605000  40.410000  40.605000   5600
 2025-07-28  40.560001  40.660000  40.560001  40.660000   1700
 2025-07-29  40.529999  40.630001  40.529999  40.630001   1400
 2025-07-30  40.500000  40.639999  40.500000  40.630001   1000
 2025-07-31  40.567001  40.680000  40.567001  40.680000    800
 2025-08-01  40.264000  40.549999  40.264000  40.540001   1400,
 'GOOGL': Price            Close        High         Low        Open    Volume
 Ticker           GOOGL       GOOGL       GOOGL       GOOGL     GOOGL
 Date
 2024-08-02  165.856598  167.697671  163.876185  165.637657  29130100
 2024-08-05  158.482315  163.637337  154.183133  154.750392  53630700
 2024-08-06  157.526932  159.795955  155.656005  158.561927  49004600
 2024-08-07  158.173798  162.194315  157.706062  160.472659  25138600
 2024-08-08  161.248886  162.900887  159.437668  159.736209  25578800
 ...                ...         ...         ...         ...       ...
 2025-07-28  192.580002  194.050003  190.839996  193.649994  38139500
 2025-07-29  195.750000  195.919998  192.080002  192.429993  41389200
 2025-07-30  196.529999  197.600006  194.690002  195.600006  32445400
 2025-07-31  191.899994  195.990005  191.089996  195.710007  51329200
 2025-08-01  189.130005  190.830002  187.820007  189.029999  34797400

 [250 rows x 5 columns],
 'NFLX': Price             Close         High          Low         Open   Volume
 Ticker             NFLX         NFLX         NFLX         NFLX     NFLX
 Date
 2024-08-02   613.640015   625.270020   608.349976   620.979980  3523000
 2024-08-05   598.549988   604.559998   587.039978   587.039978  4044200
 2024-08-06   609.570007   622.450012   600.619995   600.619995  4319100
 2024-08-07   611.479980   632.000000   610.640015   616.070007  3187800
 2024-08-08   630.349976   632.289978   616.020020   621.989990  3283500
 ...                 ...          ...          ...          ...      ...
 2025-07-28  1174.599976  1197.790039  1168.530029  1181.199951  3447000
 2025-07-29  1168.739990  1179.599976  1163.290039  1179.000000  2752500
 2025-07-30  1184.199951  1184.849976  1166.099976  1168.550049  2922700
 2025-07-31  1159.400024  1190.000000  1157.739990  1184.800049  3712900
 2025-08-01  1158.599976  1178.510010  1152.849976  1163.010010  3888000

 [250 rows x 5 columns]}

In [14]:
ohlcv['AMZN']

Price            Close        High         Low        Open     Volume
Ticker            AMZN        AMZN        AMZN        AMZN       AMZN
Date
2024-08-02  167.899994  168.770004  160.550003  166.750000  141448400
2024-08-05  161.020004  162.960007  151.610001  154.210007   83149400
2024-08-06  161.929993  165.080002  158.539993  161.710007   59950800
2024-08-07  162.770004  167.580002  161.429993  166.550003   48408200
2024-08-08  165.800003  166.690002  162.550003  165.169998   44616200
...                ...         ...         ...         ...        ...
2025-07-28  232.789993  234.289993  232.250000  233.350006   26300100
2025-07-29  231.009995  234.720001  230.309998  234.149994   33716200
2025-07-30  230.190002  231.800003  229.289993  231.639999   32993300
2025-07-31  234.110001  236.529999  231.399994  235.770004  104357300
2025-08-01  214.750000  220.440002  212.800003  217.210007  122060100

[250 rows x 5 columns]

In [15]:
df6 = yf.download(tickers='SPY', period="5d", interval="1m", progress=False)
df6.tail()

Price,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY
Datetime,,,,,
2025-08-01 19:55:00+00:00,622.250000,622.289978,621.645020,622.099976,868553
2025-08-01 19:56:00+00:00,622.460022,622.530029,622.121399,622.270020,708006
2025-08-01 19:57:00+00:00,622.385010,622.530029,622.219971,622.460022,825233
2025-08-01 19:58:00+00:00,621.960022,622.440002,621.950500,622.390015,1144244
2025-08-01 19:59:00+00:00,621.710022,622.030029,621.515015,621.969971,2540158

option chain

In [20]:
spy = yf.Ticker('SPY')
options = spy.option_chain('2025-08-05')
options

Options(calls=        contractSymbol             lastTradeDate  strike  lastPrice     bid  \
0   SPY250805C00500000 2025-07-23 14:12:36+00:00   500.0     130.97  120.92
1   SPY250805C00540000 2025-08-01 14:35:07+00:00   540.0      84.02   80.94
2   SPY250805C00545000 2025-07-30 16:15:09+00:00   545.0      91.58   75.95
3   SPY250805C00555000 2025-08-01 13:52:53+00:00   555.0      66.96   65.96
4   SPY250805C00560000 2025-07-31 13:48:08+00:00   560.0      78.72   60.98
..                 ...                       ...     ...        ...     ...
75  SPY250805C00685000 2025-07-25 17:51:48+00:00   685.0       0.01    0.00
76  SPY250805C00695000 2025-07-28 13:30:03+00:00   695.0       0.01    0.00
77  SPY250805C00700000 2025-07-31 13:49:42+00:00   700.0       0.01    0.00
78  SPY250805C00705000 2025-07-28 13:30:03+00:00   705.0       0.01    0.00
79  SPY250805C00730000 2025-07-28 13:30:08+00:00   730.0       0.01    0.00

       ask  change  percentChange  volume  openInterest  impliedVolatility  \
0   123.61    0.00       0.000000     NaN             0           1.484378
1    83.64  -14.18     -14.439918     4.0             4           1.034185
2    78.65    0.00       0.000000     NaN             1           0.979981
3    68.68    0.00       0.000000    30.0             0           0.872072
4    63.68    0.00       0.000000     1.0             2           0.817385
..     ...     ...            ...     ...           ...                ...
75    0.01    0.00       0.000000     8.0             8           0.445318
76    0.01    0.00       0.000000     NaN             1           0.507817
77    0.01    0.00       0.000000     NaN           201           0.500005
78    0.01    0.00       0.000000     NaN             1           0.531255
79    0.01    0.00       0.000000     NaN             1           0.656253

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
..         ...          ...      ...
75       False      REGULAR      USD
76       False      REGULAR      USD
77       False      REGULAR      USD
78       False      REGULAR      USD
79       False      REGULAR      USD

[80 rows x 14 columns], puts=        contractSymbol             lastTradeDate  strike  lastPrice    bid  \
0   SPY250805P00500000 2025-08-01 19:54:20+00:00   500.0       0.01   0.00
1   SPY250805P00505000 2025-08-01 18:14:50+00:00   505.0       0.01   0.00
2   SPY250805P00510000 2025-08-01 19:38:22+00:00   510.0       0.02   0.01
3   SPY250805P00515000 2025-08-01 19:50:22+00:00   515.0       0.02   0.01
4   SPY250805P00520000 2025-08-01 20:01:51+00:00   520.0       0.02   0.01
..                 ...                       ...     ...        ...    ...
73  SPY250805P00660000 2025-08-01 18:37:06+00:00   660.0      37.75  36.51
74  SPY250805P00665000 2025-07-22 19:34:02+00:00   665.0      35.68  41.55
75  SPY250805P00670000 2025-07-22 19:25:41+00:00   670.0      40.85  46.55
76  SPY250805P00680000 2025-07-30 19:11:35+00:00   680.0      47.25  56.55
77  SPY250805P00685000 2025-08-01 17:21:54+00:00   685.0      64.06  61.44

      ask  change  percentChange  volume  openInterest  impliedVolatility  \
0    0.01    0.00       0.000000  1192.0           502           0.906251
1    0.01    0.00       0.000000  1860.0           228           0.859376
2    0.02    0.01     100.000000  2637.0           217           0.898439
3    0.02    0.01     100.000000  2493.0           196           0.859376
4    0.02    0.00       0.000000  1501.0           492           0.812502
..    ...     ...            ...     ...           ...                ...
73  39.24    8.75      30.172413    23.0             3           0.570561
74  44.24    0.00       0.000000     NaN             0           0.624027
75  49.25    0.00       0.000000     NaN             0           0.677982
76  59.24    0.00       0.000000     NaN             0           0.777346
77  64.24    1.75       2.808538   300.0             0           0.826174

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
..         ...          ...      ...
73        True      REGULAR      USD
74        True      REGULAR      USD
75        True      REGULAR      USD
76        True      REGULAR      USD
77        True      REGULAR      USD

[78 rows x 14 columns], underlying={'language': 'en-US', 'region': 'US', 'quoteType': 'ETF', 'typeDisp': 'ETF', 'quoteSourceName': 'Nasdaq Real Time Price', 'triggerable': True, 'customPriceAlertConfidence': 'HIGH', 'tradeable': False, 'cryptoTradeable': False, 'currency': 'USD', 'shortName': 'SPDR S&P 500', 'longName': 'SPDR S&P 500 ETF', 'corporateActions': [], 'postMarketTime': 1754092799, 'regularMarketTime': 1754078400, 'messageBoardId': 'finmb_6160262', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'gmtOffSetMilliseconds': -14400000, 'market': 'us_market', 'esgPopulated': False, 'regularMarketChangePercent': -1.63904, 'regularMarketPrice': 621.72, 'hasPrePostMarketData': True, 'firstTradeDateMilliseconds': 728317800000, 'priceHint': 2, 'postMarketChangePercent': -0.0804221, 'postMarketPrice': 621.22, 'postMarketChange': -0.5, 'regularMarketChange': -10.36, 'regularMarketDayHigh': 626.34, 'regularMarketDayRange': '619.29 - 626.34', 'regularMarketDayLow': 619.29, 'regularMarketVolume': 139492478, 'regularMarketPreviousClose': 632.08, 'bid': 0.0, 'ask': 0.0, 'bidSize': 7, 'askSize': 3, 'fullExchangeName': 'NYSEArca', 'financialCurrency': 'USD', 'regularMarketOpen': 626.3, 'averageDailyVolume3Month': 70862608, 'averageDailyVolume10Day': 76133380, 'fiftyTwoWeekLowChange': 139.91998, 'fiftyTwoWeekLowChangePercent': 0.29041094, 'fiftyTwoWeekRange': '481.8 - 639.85', 'fiftyTwoWeekHighChange': -18.130005, 'fiftyTwoWeekHighChangePercent': -0.028334774, 'fiftyTwoWeekLow': 481.8, 'fiftyTwoWeekHigh': 639.85, 'fiftyTwoWeekChangePercent': 20.166992, 'trailingAnnualDividendRate': 5.662, 'trailingPE': 26.8767, 'trailingAnnualDividendYield': 0.008957727, 'dividendYield': 1.16, 'ytdReturn': 6.1564, 'trailingThreeMonthReturns': 10.90556, 'trailingThreeMonthNavReturns': 10.90556, 'netAssets': 636784210000.0, 'epsTrailingTwelveMonths': 23.132303, 'sharesOutstanding': 917782016, 'bookValue': 429.22, 'fiftyDayAverage': 611.287, 'fiftyDayAverageChange': 10.432983, 'fiftyDayAverageChangePercent': 0.017067242, 'twoHundredDayAverage': 588.4548, 'twoHundredDayAverageChange': 33.265198, 'twoHundredDayAverageChangePercent': 0.056529745, 'netExpenseRatio': 0.0945, 'marketCap': 570603405312, 'priceToBook': 1.4484879, 'sourceInterval': 15, 'exchangeDataDelayedBy': 0, 'exchange': 'PCX', 'marketState': 'PREPRE', 'symbol': 'SPY'})

In [21]:
df = options.calls[options.calls['strike'] > 400]
df.reset_index(drop=True, inplace=True)
df.iloc[:, :7].head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change
0,SPY250805C00500000,2025-07-23 14:12:36+00:00,500.0,130.97,120.92,123.61,0.00
1,SPY250805C00540000,2025-08-01 14:35:07+00:00,540.0,84.02,80.94,83.64,-14.18
2,SPY250805C00545000,2025-07-30 16:15:09+00:00,545.0,91.58,75.95,78.65,0.00
3,SPY250805C00555000,2025-08-01 13:52:53+00:00,555.0,66.96,65.96,68.68,0.00
4,SPY250805C00560000,2025-07-31 13:48:08+00:00,560.0,78.72,60.98,63.68,0.00

In [27]:
import os
from pandas import ExcelWriter
os.makedirs('data', exist_ok=True)

In [29]:
with ExcelWriter('data/mystocks.xlsx') as writer:
    for symbol in faang_stocks:
        pd.DataFrame(ohlcv[symbol]).to_excel(writer, sheet_name=symbol)

In [30]:
faang = pd.read_excel('data/mystocks.xlsx', sheet_name='NFLX', index_col=0, parse_dates=True)
faang.tail()

,Close,High,Low,Open,Volume
Price,,,,,
2025-07-28 00:00:00,1174.599976,1197.790039,1168.530029,1181.199951,3447000
2025-07-29 00:00:00,1168.73999,1179.599976,1163.290039,1179,2752500
2025-07-30 00:00:00,1184.199951,1184.849976,1166.099976,1168.550049,2922700
2025-07-31 00:00:00,1159.400024,1190,1157.73999,1184.800049,3712900
2025-08-01 00:00:00,1158.599976,1178.51001,1152.849976,1163.01001,3888000

In [36]:
[pd.DataFrame(ohlcv[symbol]).to_csv('data/{}.csv'.format(symbol)) for symbol in faang_stocks]
print("data saved")
#need to use csv rather than excel to avoid issues with formatting

data saved

In [37]:
aapl = pd.read_csv('data/AAPL.csv', index_col=0, parse_dates=True, dayfirst=False, encoding='latin-1')
aapl.tail()

,Close,High,Low,Open,Volume
Price,,,,,
2025-07-28,214.0500030517578,214.85000610351562,213.05999755859375,214.02999877929688,37858000
2025-07-29,211.27000427246094,214.80999755859375,210.82000732421875,214.17999267578125,51411700
2025-07-30,209.0500030517578,212.38999938964844,207.72000122070312,211.89999389648438,45512500
2025-07-31,207.57000732421875,209.83999633789062,207.16000366210938,208.49000549316406,80698400
2025-08-01,202.3800048828125,213.5800018310547,201.5,210.8699951171875,104301700

retrieving sp500 stocklist

In [40]:
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
sp500

[    Symbol             Security             GICS Sector  \
 0      MMM                   3M             Industrials
 1      AOS          A. O. Smith             Industrials
 2      ABT  Abbott Laboratories             Health Care
 3     ABBV               AbbVie             Health Care
 4      ACN            Accenture  Information Technology
 ..     ...                  ...                     ...
 498    XYL           Xylem Inc.             Industrials
 499    YUM          Yum! Brands  Consumer Discretionary
 500   ZBRA   Zebra Technologies  Information Technology
 501    ZBH        Zimmer Biomet             Health Care
 502    ZTS               Zoetis             Health Care

                                 GICS Sub-Industry    Headquarters Location  \
 0                        Industrial Conglomerates    Saint Paul, Minnesota
 1                               Building Products     Milwaukee, Wisconsin
 2                           Health Care Equipment  North Chicago, Illinois
 3                                   Biotechnology  North Chicago, Illinois
 4                  IT Consulting & Other Services          Dublin, Ireland
 ..                                            ...                      ...
 498  Industrial Machinery & Supplies & Components   White Plains, New York
 499                                   Restaurants     Louisville, Kentucky
 500            Electronic Equipment & Instruments   Lincolnshire, Illinois
 501                         Health Care Equipment          Warsaw, Indiana
 502                               Pharmaceuticals   Parsippany, New Jersey

      Date added      CIK      Founded
 0    1957-03-04    66740         1902
 1    2017-07-26    91142         1916
 2    1957-03-04     1800         1888
 3    2012-12-31  1551152  2013 (1888)
 4    2011-07-06  1467373         1989
 ..          ...      ...          ...
 498  2011-11-01  1524472         2011
 499  1997-10-06  1041061         1997
 500  2019-12-23   877212         1969
 501  2001-08-07  1136869         1927
 502  2013-06-21  1555280         1952

 [503 rows x 8 columns],
                    Date  Added                                Removed  \
                    Date Ticker                       Security  Ticker
 0         July 23, 2025    XYZ                    Block, Inc.     HES
 1         July 18, 2025    TTD               Trade Desk (The)    ANSS
 2          July 9, 2025   DDOG                        Datadog    JNPR
 3          May 19, 2025   COIN                       Coinbase     DFS
 4        March 24, 2025   DASH                       DoorDash     BWA
 ..                  ...    ...                            ...     ...
 370   December 11, 1998   CPWR                      Compuware     SUN
 371       June 17, 1997    CCI  Countrywide Credit Industries     USL
 372  September 30, 1994    NCC                  National City     MCK
 373        July 1, 1976    BUD                 Anheuser Busch     HNG
 374        July 1, 1976    DIS        The Walt Disney Company     AYE

                                                                      Reason
                 Security                                             Reason
 0       Hess Corporation  S&P 500 and S&P 100 constituent Chevron Corp. ...
 1                  Ansys  S&P 500 constituent Synopsys Inc. acquired Ans...
 2       Juniper Networks  S&P 500 constituent Hewlett Packard Enterprise...
 3     Discover Financial  S&P 500 constituent Capital One Financial Corp...
 4             BorgWarner                   Market capitalization change.[8]
 ..                   ...                                                ...
 370           SunAmerica                     AIG purchased SunAmerica.[265]
 371               USLife                          AIG acquired USLife.[266]
 372             McKesson  McKesson sold PCS Health Services to Eli Lilly...
 373  Houston Natural Gas  Major restructuring of S&P 500 to have fewer i...
 374     Allegheny Energy  Major restructuring of S&P 500 to have fewer i...

 [375 rows x 6 columns]]

In [41]:
sp500[0]['Symbol']

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     XYL
499     YUM
500    ZBRA
501     ZBH
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [42]:
stocklist = list(sp500[0]['Symbol'])
stocklist[:10]

['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ADBE', 'AMD', 'AES', 'AFL', 'A']

plot